.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.62rem;
    margin: 0 auto;
    width: 90%;
}

.card{
    background-color: $secondaryColor;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 21rem;
}

.card__header {
    height: 11.375rem;
    overflow: hidden;
    cursor: pointer;
    flex-grow: 1;

    img{
        object-fit: cover;
        width: 100%;
    }
}

.card__body{
    display: flex;
    flex-direction: column-reverse;
    padding: 1.06em 1.25em;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
    transition: max-height 500ms ease-in-out, padding 450ms linear;

    &.collapse {
        max-height: 0;
        padding-top: unset;
        padding-bottom: unset;
    }
}

.card__info{
    flex-grow: 1;
    .card__cast{
        color: $darkGray;
        font-size: 0.75rem;
        margin-top: 0.42em;
    }

    .card__director{
        margin-top: 0.6em;
    }

    .card__plot{
        line-height: 1.25em;
        margin-top: 0.94em;
    }
}

.tags{
    display: flex;
    list-style: none;
    gap: 0.56em;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    
    .tags__item{
        background-color: $lightGray;
        border-radius: 6px;
        cursor: pointer;
        padding: 0.56em;

        &:hover{
            background-color: $accent;
            color: #fff;
        }
    }
}

.card__footer{
    padding: 0.93rem 1.25rem;
    position: relative;
    &::before{
        background-color: $lightGray;
        content: "";
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        top: 0;
        width: calc(100% - 2.5rem);
    }

    .card__footer__link{
        color: $accent;
        &:hover{
            color: $primaryColor;
        }
    }
}

@media screen and (min-width: 30rem) {
    .cards-container {
        gap: 1.6rem;
    }
}

@media screen and (min-width: 48.5rem) {
    .cards-container{
        justify-content: unset;
    }
}

@media screen and (min-width: 64rem) {
    .cards-container{
        gap: 1rem;
    }
    
    .card{
        max-width: 18.4rem;
    }
}