// Fonts
$bodyFont: "Monserrat", sans-serif;
$headingFont: "Abril Fatface", serif;

// Colors
$accent: #BC5090;
$primaryColor: #CEC6FF;
$secondaryColor: #FFDFFF;
$darkGray: #2F2F2F;
$lightGray: #EBD5FF;